.logs {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.6%;
    margin: 1.6% 2.8% 1.6% 2.8%;
    box-shadow: 3px 3px 3px 3px #302e59;
    border-radius: 4px;
    transition: all 0.6s;
}

.logs:hover {
    transform: scaleY(1.08);
    transform: scalex(1.02);
    box-shadow: 3.5px 3.5px 3.5px 3.5px #302e59;
}

.logs__log {
    margin-left: 2%;
}

.logs__time {
    margin-right: 2%;
}