.botlink {
  font-size: 14px;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: #de0d0d !important;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #de0d0d !important;
}
