.dropdown-body {
    position: absolute;
    top: 28px;
    width: 250px;
    transform: translateX(-92%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    display: none;
}

.dropdown-boy {
    position: absolute;
    top: 38px;
    width: 210px;
    transform: translateX(-50%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.4rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    display: none;
}

.dropdown-boy.open {
    display: block;
    background-color: white;
    border-radius: 5%;
}

.dropdown-body.open {
    display: block;
    background-color: white;
    border-radius: 5%;
}

.dropdown-item {
    padding: 8px;
    border-bottom: darkgray solid 1px;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    padding-left: 5px;
}

.dropdown-item:hover {
    cursor: pointer;
}

.dropdown-item:visited {
    background-color: #000d1a !important;
}

.dropdown-item>button {
    background-color: white;
    border: none;
}

.dropdown-item>button:hover {
    background-color: white;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
    padding: 0.1px !important;
}