body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f6fa;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.css-n7rtur-MuiPaper-root-MuiAppBar-root,
.css-o5srbh-MuiPaper-root-MuiAppBar-root {
    background-color: #302e59 !important;
}

.css-gi7hi0-MuiTypography-root {
    color: #302e59 !important;
}

.css-1iwtne7-MuiTypography-root-MuiLink-root,
.css-cveggr-MuiListItemIcon-root,
.css-78trlr-MuiButtonBase-root-MuiIconButton-root,
a:hover {
    color: #cc00ff!important;
}

.css-jcn4dz-MuiBadge-badge,
.css-dhvns5-MuiButtonBase-root-MuiIconButton-root {
    color: #cc00ff!important;
}

::-moz-selection {
    background: #cc00ff!important;
}

::selection {
    background: #cc00ff!important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    background-color: #302e59 !important;
}

.css-mkzahr-MuiListSubheader-root {
    background-color: #302e59 !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    color: aliceblue !important;
}

.css-mkzahr-MuiListSubheader-root,
.css-mkzahr-MuiListSubheader-root {
    color: aliceblue !important;
}